body{
    
    
}

.container{
    display: flex;
    gap: 10px;
    padding-top: 50px;
}
.left-side{
    width: 50%;
    
}
.rigth-side{
    width: 50%;
    background-color: aqua;
}
.carrinho{
    background-color: aqua;
    
}
.item_carrinho{
    display: flex;
    flex-direction: column;
    width: 200px;
    & button{
        border-radius: 20px;
        margin-top: -10px;
        width: 120px;
        
        align-self: center;
        & img{
            width: 15px;
            align-self: center;
            justify-self: center;
            margin: 5px
        }
    };
    & img{
        border-radius: 5px;
    }
    & small{
        color: #B4AAA7;
    }
    & p{
        color: #372623
    }
    & span p{
        color: #B06F5D;
    }
}

.cart-view{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;

    

}
.carrinho{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}